header {
		font-family: "Special Elite"; 
		font-style: italic;
		background-color: lightgray;
		padding: 80px;
		padding-bottom: 110px;
		font-size: 140%;
		border-bottom: 5px solid;
		}
h3 {
	font-family: "Special Elite";
	padding: 25px}
h1 {
	font-size: 150%;
	}
img {
	height:198px; 
	width:350px;
	}
title {
	padding-top: 2cm;
	}
h2 	{
	font-family: "Special Elite";
	}
nav {
	font-family: "Special Elite"
	}
em 	{
	font-style: italic;
	color: red;
	}
body {
	border: 5px solid;
	margin: 0;
}
li {display: inline-block;
	padding: 10px;
	list-style-type: none;}
a {
		color: black;
		text-decoration: none;
	    }
a:hover {
			color: red;
			text-decoration: none;
		   }
article {padding: 25px;
			margin: 40px; 0}










