div {height:300px; width:600px; background-image:url("http://beyondthebunker.files.wordpress.com/2012/02/1863070-jack-kirby-747.jpg");background-size:600px 300px;font-family: Helvetica;}
h1 {color:red; text-align:center; padding: 130px; font-weight: bold; text-shadow: 2px 2px black; font-size: 300%;}














































